@import "../../css/colors.css";

.single-step {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    user-select: none;
    user-drag: none;
    cursor: pointer;
}

.single-step:hover {
    background-color: $motion-light-transparent;
}

.single-step {
    opacity: 0.5;
}

.single-step.is-active {
    opacity: 1;
    /* background-color: $motion-transparent; */
}
