@import "../../css/colors.css";

.toggleBreakpoints {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    user-select: none;
    user-drag: none;
    cursor: pointer;
}

.toggleBreakpoints:hover {
    background-color: $motion-light-transparent;
}

.toggleBreakpoints.is-active {
    background-color: $motion-transparent;
}
