@import "../../css/colors.css";

.toggle-step {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    user-select: none;
    user-drag: none;
    cursor: pointer;
}

.toggle-step:hover {
    background-color: $motion-light-transparent;
}

.toggle-step.is-active {
    background-color: $motion-transparent;
}
